absl-py==2.5.0
astunparse==1.6.3
certifi==2026.7.22
charset-normalizer==3.5.1
cloudpickle==3.1.2
colorama==0.4.6
flatbuffers==25.12.19
gast==0.7.0
google-pasta==0.2.0
grpcio==1.84.0
h5py==3.14.0
idna==3.20
joblib==1.6.0
kagglehub==1.0.2
kagglesdk==0.1.37
keras==3.15.1
libclang==18.1.1
markdown-it-py==4.2.0
mdurl==0.1.2
ml_dtypes==0.6.0
namex==0.1.0
narwhals==2.26.0
numpy==2.4.6
opencv-python==5.0.0.93
opt_einsum==3.4.0
optree==0.20.0
packaging==26.3
protobuf==7.36.2
Pygments==2.21.0
PyYAML==6.0.3
requests==2.34.2
rich==15.0.0
scikit-learn==1.9.1
scipy==1.17.1
six==1.17.0
tensorflow==2.21.0
termcolor==3.3.0
threadpoolctl==3.7.0
tqdm==4.70.1
typing_extensions==4.16.0
urllib3==2.8.0
wrapt==2.4.1
xgboost==3.2.0
